---
- name: Install nscd package to cache dns requests on debian systems
  ansible.builtin.package:
    name: nscd
    state: present
  when: ansible_facts.os_family == "Debian"
  become: true
  become_user: root
